/*header*/

.header {
  background-color: var(--color-white);

  &__container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__left-block {
    padding-top: 25px;
    padding-bottom: 19px;
    margin-right: 10px;
  }

  &__right-block {
    justify-content: space-between;
    width: 79.3%;
    min-width: 765px;
    padding-top: 20px;
    padding-bottom: 19px;
  }

  &__btn-log-in {
    justify-content: center;
    width: 104px;
    padding: 9px 7px;
    border: 2px solid var(--color-black);
    border-radius: 77px;
    font-weight: 500;
    color: var(--color-black);
    outline: none;
    transition: all 0.4s ease-in-out;
    & svg {
      width: 0;
      transition: all 0.4s ease-in-out;
      & path {
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-black);
      & svg {
        margin-right: 5px;
        width: unset;
        & path {
          stroke: var(--color-white);
        }
      }
    }
    &:focus-visible {
      background-color: var(--color-primary_light);
      & svg {
        margin-right: 5px;
        width: unset;
      }
    }
    &:active {
      color: var(--color-white);
      background-color: var(--color-primary_shade);
      border-color: var(--color-primary_shade);
      & svg path {
        margin-right: 5px;
        width: unset;
        stroke: var(--color-white);
      }
    }
  }

  &__img {
    width: 46px;
    height: 59px;
  }
}

.burger {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  outline: none;
  transition: all 0.4s ease-in-out;

  &__line {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--color-primary);
    transition: all 0.4s linear;
  }

  &__line-first {
    top: 0;
  }

  &__line-second,
  &__line-third {
    top: 50%;
    transform: translateY(-50%);
  }

  &__line-fourth {
    bottom: 0;
  }

  &--active {
    transition: all .4s ease-in-out;
  }
  
  &--active .burger__line-first,
  &--active .burger__line-fourth {
    opacity: 0;
  }
  
  &--active .burger__line-second {
    transform: translateY(-50%) rotate(45deg);
  }
  
  &--active .burger__line-third {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:hover span {
    background-color: var(--color-primary_light);
  }

  &:focus-visible span {
    background-color: var(--color-primary_light);
  }

  &:active span {
    background-color: var(--color-primary_shade);
  }
}

.header-nav {
  width: 80%;
  &__list {
    justify-content: space-between;
    width: 93.5%;
  }

  &__link {
    padding: 4px 10px;
    font-size: 20px;
    outline: none;
    transition: all 0.4s ease-in-out;
    &:active {
      color: var(--color-primary_shade);
    }
    &:hover {
      color: var(--color-primary);
    }
    &:focus-visible {
      color: var(--color-white);
      background-color: var(--color-primary_light);
    }
  }
}

.form-search {
  position: relative;
  width: 50px;
  height: 24px;
  margin-right: 24px;

  &__input-search {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 24px;
    width: 0;
    padding-right: 24px;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    background: transparent;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    &:focus-visible {
      width: 308px;
      z-index: 0;
      margin-right: 24px;
      border-bottom: 1px solid var(--color-primary);
      background: var(--color-white);
      cursor: inherit;
    }
  }

  &__btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    outline: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

.header-bottom {
  position: relative;
  max-height: 60px;
  border-top: 1px solid var(--color-light_color);
  border-bottom: 1px solid var(--color-light_color);
  &__container {
    justify-content: space-between;
    // padding-left: 40px;
  }
  &__nav {
    width: 55%;
  }
  &__list {
    justify-content: space-between;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__btns-mobil {
    justify-content: space-between;
    display: none;
    width: 120px;
    margin-bottom: 17px;
  }
}

.bottom-btns {
  &__btn-players {
    position: relative;
    width: 175px;
    height: 40px;
    border-left: 1px solid var(--color-light_color);
    border-right: 1px solid var(--color-light_color);
    outline: none;
    transition: all 0.4s ease-in-out;

    & svg {
      position: absolute;
      top: 10px;
      left: 11px;

      & path {
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover svg path {
      fill: var(--color-primary);
    }

    &:focus-visible svg path {
      fill: var(--color-primary_light);
    }

    &:active svg path {
      fill: var(--color-primary_shade);
    }
  }
  &__btn-players-archive::before {
    position: absolute;
    top: 3px;
    left: 40px;
    content: "Ранее в эфире";
    font-size: 12px;
    color: var(--color-text_grey);
  }
  &__btn-players-archive::after {
    position: absolute;
    top: 19px;
    left: 40px;
    content: "\00ABМузыка\00BB";
    font-size: 16px;
    color: var(--color-black);
  }
  &__btn-players-ether::before {
    position: absolute;
    top: 3px;
    left: 40px;
    content: "Сейчас в эфире";
    font-size: 12px;
    color: var(--color-text_grey);
  }
  &__btn-players-ether::after {
    position: absolute;
    top: 19px;
    left: 40px;
    content: "\00ABКак так?\00BB";
    font-size: 16px;
    color: var(--color-black);
  }
}

.passive {
  opacity: 0;
}

.btn-active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .header::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 60px;
    background-color: var(--color-shade_grey);
    opacity: 0.5;
  }

  .header__left-block {
    padding-top: 23px;
    z-index: 2;
  }

  .header__right-block {
    width: 902px;
    margin-left: -11px;
  }

  .header__nav {
    width: 79%;
  }

  .header-nav__list {
    width: 100%;
  }

  .form-search__input-search:focus {
    width: 190px;
  }

  .header-bottom__container {
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .header-bottom__nav {
    width: 100%;
    // margin-left: -5px;
  }

  .header-bottom__list {
    width: 93%;
  }

  .bottom-btns__btn-players {
    width: 149.5px;
  }

  .bottom-btns__btn-players-archive::before {
    top: 2px;
    left: 40px;
  }

  .bottom-btns__btn-players-archive::after {
    top: 19px;
    left: 40px;
  }

  .bottom-btns__btn-players-ether::before {
    top: 3px;
    left: 41px;
  }

  .bottom-btns__btn-players-ether::after {
    top: 20px;
    left: 34px;
  }

  .bottom-btns__btn-players svg {
    top: 10px;
    left: 10px;
  }

  .header__img {
    display: none;
  }
}

@media (max-width: 902px) {
  .header-active::after {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    content: "";
    width: 100%;
    height: 400px;
    background-color: var(--color-shade_grey);
    background-image: url(../img/burger-fon1.png);
    background-repeat: no-repeat;
    background-position: 77% 0%;
  }

  .header__right-block {
    position: relative;
    min-width: 360px;
    margin-left: 0;
    padding-top: 18px;
  }

  .right-block__burger {
    z-index: 4;
    display: block;
    margin-right: auto;
  }

  .header__nav {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -10px;
    display: none;
    width: 100%;
    padding-top: 104px;
    background-image: url(../img/burger-fon2.png);
    background-repeat: no-repeat;
    background-position: 295px 85px;
  }

  .header__nav_active {
    z-index: 3;
    display: block;
  }

  .header__nav_active .header::after {
    opacity: 1;
  }

  .header-nav__list {
    display: block;
    columns: 2;
    max-width: 270px;
  }

  .header-nav__item {
    margin-bottom: 63px;
  }

  .graph-modal__container {
    width: 539px;
    padding-left: 40px;
  }

  .graph-modal-input {
    width: 458px;
  }

  .graph-modal-img {
    width: 459px;
  }

  .header-bottom__nav {
    padding: 13px 0 23px;
  }

  .header-bottom__list {
    width: 97%;
  }

  .bottom-btns__btn-players svg {
    top: 5px;
  }

  .bottom-btns__btn-players-archive {
    display: none;
  }

  .bottom-btns__btn-players-ether {
    width: 32px;
    border: none;
  }

  .bottom-btns__btn-players-ether::after,
  .bottom-btns__btn-players-ether::before {
    display: none;
  }
}

@media (max-width: 800px) {
  .header__nav {
    background-image: none;
  }
}

@media (max-width: 570px) {
  .header::before {
    height: 54px;
  }

  .header-active::after {
    top: 54px;
    height: 225px;
    background-image: none;
  }

  .header__top {
    max-height: 104px;
  }

  .header__left-block {
    padding-top: 19px;
    padding-bottom: 1px;
  }

  .header__right-block {
    min-width: 280px;
    padding-top: 28px;
    padding-bottom: 13px;
  }

  .header__nav {
    padding-top: 76px;
  }

  .header-nav__item {
    margin-bottom: 37px;
  }

  .header-nav__item:nth-child(4) {
    padding-top: 30px;
  }

  .header__btn-log-in {
    position: absolute;
    top: -29px;
    right: 24px;
    width: 87px;
    padding: 6px 7px;
  }

  .graph-modal__container {
    width: 257px;
    padding-left: 19px;
    padding-bottom: 20px;
    margin-top: 55px;
    padding-top: 40px;
  }

  .graph-modal__close {
    right: 22px;
    top: 20px;
    width: 28px;
    height: 28px;
    padding: 5px;
  }

  .graph-modal__close svg {
    width: 12px;
    height: 12px;
  }

  .graph-modal__title {
    margin-bottom: 14px;
  }

  .graph-modal__text {
    margin-bottom: 22px;
    font-size: 12px;
  }

  .graph-modal-input {
    width: 216px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 17px;
    font-size: 16px;
  }

  .graph-modal-form__btn {
    padding: 10px 55.5px;
    font-size: 16px;
  }

  .graph-modal__subtitle {
    width: 98%;
    padding-top: 15px;
    font-size: 12px;
  }

  .graph-modal__list {
    padding-top: 0;
  }

  .graph-modal__item:not(:last-child) {
    margin-right: 48px;
  }

  .modal-2-title {
    padding-left: 36px;
  }

  .graph-modal-img {
    width: 215px;
  }

  .graph-modal__booking {
    font-size: 12px;
  }

  .graph-modal__number {
    font-size: 24px;
  }

  .header__bottom {
    max-height: 46px;
  }

  .header__bottom_active {
    background-color: var(--color-light_color40);
  }

  .header-bottom__container {
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
  }

  .header-bottom__nav {
    position: absolute;
    top: 175px;
    display: none;
    background-color: var(--color-white);
    padding-top: 29px;
    padding-left: 15px;
  }

  .header-bottom__nav_active {
    display: block;
  }

  .header-bottom__list {
    display: block;
    columns: 2;
    max-height: 137px;
  }

  .header-bottom__item {
    margin-bottom: 27px;
  }

  .header-bottom__btns-mobil {
    z-index: 0;
    display: flex;
    padding-top: 4px;
    margin-bottom: 12px;
    outline: none;
    color: var(--color-primary);
    transition: all .4s ease-in-out;
  }

  .header-bottom__btns-mobil svg {
    transition: all .4s ease-in-out;
  }

  .header-bottom__btns-mobil_active svg {
    transform: rotate(-45deg);
  }

  .header-bottom__btns-mobil .header__bottom {
    background-color: var(--color-light_color40);
  }

  .header-bottom__btns-mobil:focus-visible {
    color: var(--color-primary_light);
  }

  .header-bottom__btns-mobil:active {
    color: var(--color-primary_shade);
  }

  .header-bottom__btns-mobil:focus-visible svg circle {
    fill: var(--color-primary_light);
  }

  .header-bottom__btns-mobil:active svg circle {
    fill: var(--color-primary_shade);
  }

  .header-bottom__btns {
    position: absolute;
    top: 48px;
    left: 15px;
    display: none;
    width: 100%;
    background-color: var(--color-white);
  }

  .header-bottom__btns_active {
    z-index: 1;
    display: flex;
    padding-bottom: 5px;
  }

  .bottom-btns__btn-players {
    width: 107px;
    height: 66px;
    border: none;
  }

  .bottom-btns__btn-players svg {
    top: 7px;
    left: 2px;
  }

  .bottom-btns__btn-players-archive {
    display: block;
    margin-right: 36px;
    border-right: 1px solid var(--color-light_color);
  }

  .bottom-btns__btn-players::before {
    top: 35px;
    left: 0;
    font-size: 10px;
  }

  .bottom-btns__btn-players::after {
    top: 49px;
    left: 0;
    font-size: 14px;
  }

  .bottom-btns__btn-players-ether::after,
  .bottom-btns__btn-players-ether::before {
    display: block;
  }
}