<section id="about" class="about section-start">
  <div class="container about__container">
    <h2 class="title about__title">
      О нас
    </h2>
    <span class="about__subtitle">
      Приём-приём! Как слышно? Мы уже в эфире? Отлично, поехали!
    </span>
    <p class="about__text">
      Друзья, мы будем очень рады, если вы поможете стать нам лучше. Нам важен каждый слушатель, поэтому вы можете
      поделиться обратной связью о наших предеачах, темах, подборках и вообще обо всём! Это можно сделать либо
      написав нам в форме ниже, либо кликнув на наши соцсети в подвале сайта. Спасибо! Услышимся! :)
    </p>
    <div class="about__content about-content">
      <ul class="flex list-reset about-content__list">
        <li class="about-content__item">
          <div class="about-content__card about-card">
            <picture class="about-card__img">
              <source media="(max-width: 570px)" srcset="img/gutenberg320.avif" type="image/avif" />
              <source media="(max-width: 570px)" srcset="img/gutenberg320.webp" type="image/webp" />
              <source media="(max-width: 570px)" srcset="img/gutenberg320.png">
              <source media="(max-width: 902px)" srcset="img/gutenberg.avif" type="image/avif" />
              <source media="(max-width: 902px)" srcset="img/gutenberg.webp" type="image/webp" />
              <source media="(max-width: 902px)" srcset="img/gutenberg.png">
              <source media="(max-width: 1200px)" srcset="img/gutenberg1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/gutenberg1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/gutenberg1024.png">
              <source srcset="img/gutenberg.avif" type="image/avif" />
              <source srcset="img/gutenberg.webp" type="image/webp" />
              <img src="img/gutenberg.png" alt="Фото автора">
            </picture>
            <h3 class="about-card__title">
              Дмитрий Гутенберг
            </h3>
            <p class="about-card__desc">
              Эксперт (ну, почти) по всем вопросам (почти).
            </p>
          </div>
        </li>
        <li class="about-content__item">
          <div class="about-content__card about-card">
            <picture class="about-card__img">
              <source media="(max-width: 570px)" srcset="img/vasilieva320.avif" type="image/avif" />
              <source media="(max-width: 570px)" srcset="img/vasilieva320.webp" type="image/webp" />
              <source media="(max-width: 570px)" srcset="img/vasilieva320.png">
              <source media="(max-width: 902px)" srcset="img/vasilieva.avif" type="image/avif" />
              <source media="(max-width: 902px)" srcset="img/vasilieva.webp" type="image/webp" />
              <source media="(max-width: 902px)" srcset="img/vasilieva.png">
              <source media="(max-width: 1200px)" srcset="img/vasilieva1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/vasilieva1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/vasilieva1024.png">
              <source srcset="img/vasilieva.avif" type="image/avif" />
              <source srcset="img/vasilieva.webp" type="image/webp" />
              <img src="img/vasilieva.png" alt="Фото автора">
            </picture>
            <h3 class="about-card__title">
              Анна Васильева
            </h3>
            <p class="about-card__desc">
              Как я&nbsp;здесь оказалась? А&nbsp;главное&nbsp;&mdash; зачем?
            </p>
          </div>
        </li>
        <li class="about-content__item">
          <div class="about-content__card about-card">
            <picture class="about-card__img">
              <source media="(max-width: 570px)" srcset="img/dmitrievskiy320.avif" type="image/avif" />
              <source media="(max-width: 570px)" srcset="img/dmitrievskiy320.webp" type="image/webp" />
              <source media="(max-width: 570px)" srcset="img/dmitrievskiy320.png">
              <source media="(max-width: 902px)" srcset="img/dmitrievskiy.avif" type="image/avif" />
              <source media="(max-width: 902px)" srcset="img/dmitrievskiy.webp" type="image/webp" />
              <source media="(max-width: 902px)" srcset="img/dmitrievskiy.png">
              <source media="(max-width: 1200px)" srcset="img/dmitrievskiy1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/dmitrievskiy1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/dmitrievskiy1024.png">
              <source srcset="img/dmitrievskiy.avif" type="image/avif" />
              <source srcset="img/dmitrievskiy.webp" type="image/webp" />
              <img src="img/dmitrievskiy.png" alt="Фото автора">
            </picture>
            <h3 class="about-card__title">
              Пётр Дмитриевский
            </h3>
            <p class="about-card__desc">
              Господа! Внимание!! Благодарю за внимание!!!
            </p>
          </div>
        </li>
        <li class="about-content__item">
          <div class="about-content__card about-card">
            <picture class="about-card__img">
              <source media="(max-width: 570px)" srcset="img/fleganova320.avif" type="image/avif" />
              <source media="(max-width: 570px)" srcset="img/fleganova320.webp" type="image/webp" />
              <source media="(max-width: 570px)" srcset="img/fleganova320.png">
              <source media="(max-width: 902px)" srcset="img/fleganova.avif" type="image/avif" />
              <source media="(max-width: 902px)" srcset="img/fleganova.webp" type="image/webp" />
              <source media="(max-width: 902px)" srcset="img/fleganova.png">
              <source media="(max-width: 1200px)" srcset="img/fleganova1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/fleganova1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/fleganova1024.png">
              <source srcset="img/fleganova.avif" type="image/avif" />
              <source srcset="img/fleganova.webp" type="image/webp" />
              <img src="img/fleganova.png" alt="Фото автора">
            </picture>
            <h3 class="about-card__title">
              Татьяна Флеганова
            </h3>
            <p class="about-card__desc">
              Одна я&nbsp;в&nbsp;пальто стою красивая, а&nbsp;вокруг...
            </p>
          </div>
        </li>
      </ul>
    </div>
    <form action="#" method="post" class="about__form about-form">
      <div class="about-form__input">
        <textarea name="descript" cols="30" rows="10" placeholder="Что скажете?" class="about-form__textarea"
          aria-label="Напишите ваше сообщение"></textarea>
      </div>
      <div class="about-form__input">
        <input type="text" name="name" placeholder="Имя" class="about-form__name" data-validate-field="name"
          aria-label="Напишите ваше имя">
      </div>
      <div class="about-form__input">
        <input type="email" name="email" placeholder="E-mail" class="about-form__email" data-validate-field="mail"
          aria-label="Напишите ваш адрес электронной почты">
      </div>
      <input type="submit" name="submit" class="about-form__btn" aria-label="Отправить ваше сообщение">
      <div class="about-form__checkbox-container">
        <input id="checkbox" type="checkbox" name="agreement" required class="about-form__checkbox"
          aria-label="Дать согласие на обработку данных">
        <label for="checkbox" class="about-form__label" required>
          Согласен на обработку персональных данных
        </label>
      </div>

      <div role="alert" class="about-form__message">
        Сообщение успешно отправлено!
      </div>
    </form>

  </div>
</section>
