<section class="hero">
  <div class="container hero__container ">
    <div class="hero__text">
      <h1 class="title hero__title">
        Радио <span>W-Wave</span>
      </h1>
      <p class="hero__desc">
        Привет, на&nbsp;связи W-Wave! Раньше мы&nbsp;были<a href="#" class="hero__desc-link"
          aria-label="Перейти на сайт издания">изданием</a>, а&nbsp;теперь пробуем себя в&nbsp;разговорном жанре.
        Говорим о&nbsp;музыке, политике, истории, науке и&nbsp;культуре. Здесь, помимо прямого эфира&nbsp;&mdash;
        архив передач и&nbsp;многое другое :)
      </p>
      <a href="#" class="hero__link" aria-label="Запустить эфир радиостанции">
        Слушать эфир
      </a>
    </div>
    <div class="hero__content">
      <picture>
        <source media="(max-width: 1200px)" srcset="img/microphone1024.png">
        <img src="img/microphone.png" alt="Изображение микрофона" class="hero__img">
      </picture>
    </div>
  </div>
</section>
