<section id="playlists" class="playlists section-start">
  <div class="flex container playlists__container">
    <div class="playlists__radio">
      <h2 class="title playlists__title">
        Плейлисты
      </h2>
      <span class="playlists__genre">
        Жанр
      </span>
      <div class="playlists__radio-select radio-select">
        <ul class="list-reset radio-select__list">
          <li class="radio-select__item">
            <label class="radio-select__label" for="postpank">
              <input id="postpank" class="radio-select__real-btn" type="radio" name="genre" value="Постпанк">
              <span class="radio-select__custom-btn">Постпанк</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="hardrock" class="radio-select__label">
              <input id="hardrock" class="radio-select__real-btn" type="radio" name="genre" value="Хардкор">
              <span class="radio-select__custom-btn">Хардкор</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="pankrock" class="radio-select__label">
              <input id="pankrock" class="radio-select__real-btn" type="radio" name="genre" value="Панк-рок">
              <span class="radio-select__custom-btn">Панк-рок</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="rock" class="radio-select__label">
              <input id="rock" class="radio-select__real-btn" type="radio" name="genre" value="Рок">
              <span class="radio-select__custom-btn">Рок</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="progressive" class="radio-select__label">
              <input id="progressive" class="radio-select__real-btn" type="radio" name="genre"
                value="Прогрессивный рок">
              <span class="radio-select__custom-btn">Прогрессивный рок</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="electronic" class="radio-select__label">
              <input id="electronic" class="radio-select__real-btn" type="radio" name="genre"
                value="Электронная музыка">
              <span class="radio-select__custom-btn">Электронная музыка</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="classic" class="radio-select__label">
              <input id="classic" class="radio-select__real-btn" type="radio" name="genre" value="Классическая музыка">
              <span class="radio-select__custom-btn">Классическая музыка</span>
            </label>
          </li>
          <li class="radio-select__item">
            <label for="relax" class="radio-select__label">
              <input id="relax" class="radio-select__real-btn" type="radio" name="genre"
                value="Звуки природы и шум города">
              <span class="radio-select__custom-btn">Звуки природы и шум города</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="playlists__content">
      <ul class="flex list-reset playlists__list playlists-list">
        <li class="playlists-list__item">
          <div tabindex="0" class="rus flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist1_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist1_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist1_1024.png">
              <source srcset="img/playlist1.avif" type="image/avif" />
              <source srcset="img/playlist1.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist1.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Ploho
              </h3>
              <span class="playlists-card__desc">
                3 последних альбома
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="rus flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist2_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist2_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist2_1024.png">
              <source srcset="img/playlist2.avif" type="image/avif" />
              <source srcset="img/playlist2.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist2.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Molchat Doma
              </h3>
              <span class="playlists-card__desc">
                Все песни
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="rus flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist3_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist3_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist3_1024.png">
              <source srcset="img/playlist3.avif" type="image/avif" />
              <source srcset="img/playlist3.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist3.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Motorama
              </h3>
              <span class="playlists-card__desc">
                Все синглы
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="rus flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist4_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist4_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist4_1024.png">
              <source srcset="img/playlist4.avif" type="image/avif" />
              <source srcset="img/playlist4.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist4.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Human Tetris
              </h3>
              <span class="playlists-card__desc">
                3 последних альбома
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="rus flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist5_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist5_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist5_1024.png">
              <source srcset="img/playlist5.avif" type="image/avif" />
              <source srcset="img/playlist5.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist5.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Буерак
              </h3>
              <span class="playlists-card__desc">
                Все EP
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="rus flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist6_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist6_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist6_1024.png">
              <source srcset="img/playlist6.avif" type="image/avif" />
              <source srcset="img/playlist6.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist6.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Июльские Дни
              </h3>
              <span class="playlists-card__desc">
                Альбом «Колокол»
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="gbr flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist7_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist7_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist7_1024.png">
              <source srcset="img/playlist7.avif" type="image/avif" />
              <source srcset="img/playlist7.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist7.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Joy Division
              </h3>
              <span class="playlists-card__desc">
                Лучшее за всё время
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="gbr flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist8_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist8_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist8_1024.png">
              <source srcset="img/playlist8.avif" type="image/avif" />
              <source srcset="img/playlist8.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist8.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                The Cure
              </h3>
              <span class="playlists-card__desc">
                Лучшее за всё время
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="gbr flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist9_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist9_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist9_1024.png">
              <source srcset="img/playlist9.avif" type="image/avif" />
              <source srcset="img/playlist9.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist9.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                The Smiths
              </h3>
              <span class="playlists-card__desc">
                Период 1984-1988
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="gbr flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist10_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist10_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist10_1024.png">
              <source srcset="img/playlist10.avif" type="image/avif" />
              <source srcset="img/playlist10.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist10.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                New Order
              </h3>
              <span class="playlists-card__desc">
                Хиты
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="gbr flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist11_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist11_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist11_1024.png">
              <source srcset="img/playlist11.avif" type="image/avif" />
              <source srcset="img/playlist11.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist11.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Bauhaus
              </h3>
              <span class="playlists-card__desc">
                Все синглы
              </span>
            </div>
          </div>
        </li>
        <li class="playlists-list__item">
          <div tabindex="0" class="gbr flex playlists-list__card playlists-card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="21" fill="#6D31EE" />
              <path
                d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z"
                fill="white" />
            </svg>
            <picture>
              <source media="(max-width: 1200px)" srcset="img/playlist12_1024.avif" type="image/avif" />
              <source media="(max-width: 1200px)" srcset="img/playlist12_1024.webp" type="image/webp" />
              <source media="(max-width: 1200px)" srcset="img/playlist12_1024.png">
              <source srcset="img/playlist12.avif" type="image/avif" />
              <source srcset="img/playlist12.webp" type="image/webp" />
              <img class="playlists-card__img" src="img/playlist12.png" alt="Обложка альбома">
            </picture>
            <div class="playlists-card__text">
              <h3 class="playlists-card__title">
                Gang Of Four
              </h3>
              <span class="playlists-card__desc">
                3 последних альбома
              </span>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="playlists__desc playlists-desc">
      <p class="playlists-desc__text">
        Раздел &laquo;Плейлисты&raquo; может содержать информацию, не&nbsp;предназначенную для несовершеннолетних.
      </p>
      <span class="playlists-desc__yars">
        © 2021 l W-Wave
      </span>
    </div>
  </div>
</section>
