<section id="adv" class="adv">
  <div class="flex container adv__container">
    <div class="swiper-one swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 570px)" srcset="img/radio320.avif" type="image/avif" />
            <source media="(max-width: 570px)" srcset="img/radio320.webp" type="image/webp" />
            <source media="(max-width: 570px)" srcset="img/radio320.png">
            <source media="(max-width: 902px)" srcset="img/radio768.avif" type="image/avif" />
            <source media="(max-width: 902px)" srcset="img/radio768.webp" type="image/webp" />
            <source media="(max-width: 902px)" srcset="img/radio768.png">
            <source media="(max-width: 1200px)" srcset="img/radio1024.avif" type="image/avif" />
            <source media="(max-width: 1200px)" srcset="img/radio1024.webp" type="image/webp" />
            <source media="(max-width: 1200px)" srcset="img/radio1024.png">
            <source  srcset="img/radio.avif" type="image/avif" />
            <source  srcset="img/radio.webp" type="image/webp" />
            <img src="img/radio.png" alt="Изображение радиоприемника" class="adv__img">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 570px)" srcset="img/radio-blue320.avif" type="image/avif" />
            <source media="(max-width: 570px)" srcset="img/radio-blue320.webp" type="image/webp" />
            <source media="(max-width: 570px)" srcset="img/radio-blue320.png">
            <source media="(max-width: 902px)" srcset="img/radio-blue768.avif" type="image/avif" />
            <source media="(max-width: 902px)" srcset="img/radio-blue768.webp" type="image/webp" />
            <source media="(max-width: 902px)" srcset="img/radio-blue768.png">
            <source media="(max-width: 1200px)" srcset="img/radio-blue1024.avif" type="image/avif" />
            <source media="(max-width: 1200px)" srcset="img/radio-blue1024.webp" type="image/webp" />
            <source media="(max-width: 1200px)" srcset="img/radio-blue1024.png">
            <source  srcset="img/radio-blue.avif" type="image/avif" />
            <source  srcset="img/radio-blue.webp" type="image/webp" />
            <img src="img/radio-blue.png" alt="Изображение радиоприемника" class="adv__img">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 570px)" srcset="img/radio-green320.avif" type="image/avif" />
            <source media="(max-width: 570px)" srcset="img/radio-green320.webp" type="image/webp" />
            <source media="(max-width: 570px)" srcset="img/radio-green320.png">
            <source media="(max-width: 902px)" srcset="img/radio-green768.avif" type="image/avif" />
            <source media="(max-width: 902px)" srcset="img/radio-green768.webp" type="image/webp" />
            <source media="(max-width: 902px)" srcset="img/radio-green768.png">
            <source media="(max-width: 1200px)" srcset="img/radio-green1024.avif" type="image/avif" />
            <source media="(max-width: 1200px)" srcset="img/radio-green1024.webp" type="image/webp" />
            <source media="(max-width: 1200px)" srcset="img/radio-green1024.png">
            <source  srcset="img/radio-green.avif" type="image/avif" />
            <source  srcset="img/radio-green.webp" type="image/webp" />
            <img src="img/radio-green.png" alt="Изображение радиоприемника" class="adv__img">
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <picture>
        <source media="(max-width: 570px)" srcset="img/new320.avif" type="image/avif" />
        <source media="(max-width: 570px)" srcset="img/new320.webp" type="image/webp" />
        <source media="(max-width: 570px)" srcset="img/new320.png">
        <source media="(max-width: 902px)" srcset="img/new.avif" type="image/avif" />
        <source media="(max-width: 902px)" srcset="img/new.webp" type="image/webp" />
        <source media="(max-width: 902px)" srcset="img/new.png">
        <source media="(max-width: 1200px)" srcset="img/new1024.avif" type="image/avif" />
        <source media="(max-width: 1200px)" srcset="img/new1024.webp" type="image/webp" />
        <source media="(max-width: 1200px)" srcset="img/new1024.png">
        <source  srcset="img/new.avif" type="image/avif" />
        <source  srcset="img/new.webp" type="image/webp" />
        <img class="adv__promo" src="img/new.png" alt="Промо">
      </picture>
    </div>
    <div class="adv__content adv-content">
      <h2 class="title adv-content__title">
        Будь с&nbsp;нами на&nbsp;одной волне!
      </h2>
      <p class="adv-content__text adv-content__text_first">
        Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на&nbsp;то, что мы&nbsp;только
        начали свой путь радиовещателей, нам хочется, чтобы вы могли как следует нас расслышать :)
      </p>
      <p class="adv-content__text adv-content__text_second">
        Итак, встречайте! Портативный радиоприёмник-колонка <span>W&#8209;Wave&nbsp;1.0&nbsp;xm.</span> Тщательный
        подбор всех делатей, ручная сборка, качественный звук. Пока доступно только 60&nbsp;штук
        в&nbsp;3&nbsp;цветах, но&nbsp;мы&nbsp;активно трудимся над новыми партиями и&nbsp;дизайном. Спешите
        приобрести!
      </p>
      <span class="adv-content__price">
        2800 руб
      </span>
      <button class="flex btn-reset adv-content__btn" data-graph-path="second"
        aria-label="Перейти на страницу покупки радиоприемника">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_908_70)">
            <path
              d="M10.5 20C16.0228 20 20.5 15.5228 20.5 9.99998C20.5 4.47714 16.0228 0 10.5 0C4.97724 0 0.5 4.47714 0.5 9.99998C0.5 15.5228 4.97724 20 10.5 20Z"
              fill="#F0D288" />
            <path
              d="M17.4385 4.54391L13.7295 3.17676L8.3957 10.8637L8.92677 7.3751L6.02058 5.68219L0.67395 12.1141C0.924269 13.3858 1.4102 14.5718 2.08387 15.6239L5.27373 11.7711L4.09993 16.2962L7.73707 17.6271L13.1408 9.8464L11.9569 14.2958L14.9033 16.0179L20.558 10.3174C20.5592 10.2534 20.5599 10.1889 20.5599 10.1246C20.5599 8.78258 20.3017 7.50132 19.8329 6.32896L16.5482 9.6538L17.4385 4.54391Z"
              fill="#121723" />
          </g>
          <defs>
            <clipPath id="clip0_908_70">
              <rect x="0.5" width="20" height="20" rx="10" fill="white" />
            </clipPath>
          </defs>
        </svg>
        Купить на Яндекс.Маркет
      </button>
    </div>
  </div>
</section>